<div class="admin-shell">

    <header class="admin-header">
        <div class="header-left">
            <button class="header-home-btn" [routerLink]="['/admin/inicio']" title="Ir al menú principal">
                <mat-icon>home</mat-icon>
            </button>
            <div class="header-logo">Eco-Chips</div>
        </div>
        <div class="header-right">
            <button class="logout-btn" (click)="cerrarSesion()">
                <mat-icon>logout</mat-icon>
                <span>Cerrar Sesión</span>
            </button>
        </div>
    </header>

    <main class="admin-main-content">
        <router-outlet></router-outlet>
    </main>

    <footer class="admin-footer">
        <div class="footer-content">
            <div class="footer-section">
                <h4>Contacto</h4>
                <p>Correo: ecochip&#64;gmail.com</p>
                <p>Teléfono: 987654321</p>
            </div>
            <div class="footer-section">
                <h4>Términos y Condiciones</h4>
            </div>
            <div class="footer-social">
            </div>
        </div>
    </footer>
</div>