/* Usamos :host para aplicar los colores definidos en el layout */
:host {
    --color-primario-fondo: #1e1e2f;
    --color-primario-botones: #4a4a6e;
}

.form-wrapper {
    /* Dejamos espacio arriba para el logo que está
      en el layout (position: absolute)
    */
    padding: 80px 40px 30px 40px;
}

.form-wrapper h2 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 30px;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px; /* Espacio entre los campos */
}

mat-form-field {
    width: 100%;
}

/* Estilos del Footer */
.form-footer {
    padding: 30px 40px;
    background-color: var(--color-primario-fondo);
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-footer button {
    width: 100%;
    padding: 22px 0; /* Botones más altos */
    font-size: 1rem;
    font-weight: 500;
    border-radius: 25px; /* Botones redondeados */
    text-transform: uppercase;
}

.btn-primary {
    background-color: var(--color-primario-botones);
    color: white;
}

.btn-secondary {
    border-color: var(--color-primario-botones);
    color: var(--color-primario-botones);
}

.btn-admin {
    color: #9a9a9a; /* Color gris del mockup */
    text-align: left;
    padding-left: 10px;
    text-transform: uppercase;
}