<div class="form-wrapper">
    <h2>INICIAR SESIÓN</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

        <mat-form-field appearance="outline">
            <mat-label>Correo</mat-label>
            <input matInput formControlName="correo" type="email" autocomplete="email">
            <mat-error *ngIf="loginForm.get('correo')?.invalid">
                El correo no es válido
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Contraseña</mat-label>
            <input matInput formControlName="password" type="password" autocomplete="current-password">
            <mat-error *ngIf="loginForm.get('password')?.invalid">
                La contraseña es requerida
            </mat-error>
        </mat-form-field>

    </form>
</div>
<div class="form-footer">
    <button mat-flat-button class="btn-primary" (click)="onSubmit()" [disabled]="loginForm.invalid">
        Sign In
    </button>
    <button mat-stroked-button class="btn-secondary" [routerLink]="'/auth/registro'">
        Crear Cuenta
    </button>

    <button mat-button class="btn-admin" [routerLink]="'/admin'">
        Admin
    </button>
</div>