<nav class="sub-navbar">

    <div class="left-menu">
        <a routerLink="/usuario/home" routerLinkActive="active">Inicio</a>
        <li *ngIf="isCliente()">
            <a routerLink="/usuario/comunidades" routerLinkActive="active">Comunidades</a>
        </li>
        <a routerLink="/usuario/estadisticas" routerLinkActive="active">Mis Estadísticas</a>
        <a routerLink="/usuario/actividades" routerLinkActive="active">Actividades</a>
        <a routerLink="/usuario/productos" routerLinkActive="active">Productos</a>
        <a routerLink="/usuario/suscripcion" routerLinkActive="active">Suscripción</a>
        <a routerLink="/usuario/comunidad/chat" routerLinkActive="active">Chat Comunidad</a>
        <li *ngIf="isModerador()">
        <a routerLink="/moderador/solicitud" routerLinkActive="active">Crea Solicitud</a>
        </li>
    </div>

    <div class="right-menu">

        <!-- ICONO DE PERFIL -->
        <button class="icon-button" (click)="irPerfil()">
            <mat-icon>account_circle</mat-icon>
        </button>

        <!-- CERRAR SESIÓN -->
        <button class="logout-button" (click)="cerrarSesion()">
            Cerrar Sesión
        </button>
    </div>

</nav>
