<div class="user-layout-wrapper">

    <header>
        <h2>Eco-Chips</h2>
        <nav>
            | <a [routerLink]="'/usuario/inicio'">Inicio</a> |
            <a [routerLink]="'/usuario/comunidad'">Comunidades</a> |
            <a [routerLink]="'/usuario/estadisticas'">Mis Estadísticas</a> |
            <a [routerLink]="'/usuario/actividades'">Actividades</a> |
            <a [routerLink]="'/usuario/canjear'">Canjear</a> |
            <a [routerLink]="'/usuario/suscripcion'">Suscripción</a> |
        </nav>
        <button class="btn-cerrar-sesion">Cerrar Sesión</button>
    </header>

    <main class="user-content">
        <router-outlet></router-outlet>
    </main>

    <footer class="footer">
        <div class="footer-content">
            <div class="footer-section">
                <h4>Contacto</h4>
                <p>Correo: ecochip&#64;gmail.com</p>
                <p>Teléfono: 987654321</p>
            </div>
        </div>
    </footer>
</div>