:host {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* Hace que <app-root> ocupe el 100% de la altura */
}

.main-content {
    flex: 1;
    /* Hace que el contenido principal crezca
       y empuje el footer hacia abajo */
}