    <app-sub-navbar-usuario></app-sub-navbar-usuario>
    <div class="suscripcion-container">
        <header class="header">
            <h1>Elige tu Plan de Suscripción</h1>
            <p>Desbloquea todos los beneficios de la comunidad Eco-Chips y aumenta tus puntos de racha.</p>
        </header>

        <div class="plans-grid">
            <mat-card class="plan-card plan-semanal">
                <mat-card-header class="card-header-content">
                    <mat-card-title>Plan Semanal</mat-card-title>
                    <mat-card-subtitle>7 días</mat-card-subtitle>
                </mat-card-header>

                <mat-card-content>
                    <div class="price-display">
                        <span class="price-big">S/ 5.00</span>
                        <span class="price-small">/ semana</span>
                    </div>

                    <ul class="benefit-list">
                        <li><mat-icon class="check-icon">check_circle</mat-icon> Obtén un aumento de x1.25 en tus puntos de
                        ecobits</li>
                        <li><mat-icon class="check-icon">check_circle</mat-icon> Podrás disfrutar de tus canjes lo antes posible</li>
                    </ul>
                </mat-card-content>

                <mat-card-actions>
                    <button mat-raised-button (click)="seleccionarPlan('Plan Basico', 1)">
                        Seleccionar Plan
                    </button>
                </mat-card-actions>
            </mat-card>

            <mat-card class="plan-card plan-mensual">
                <mat-card-header class="card-header-content">
                    <mat-card-title>Plan Mensual</mat-card-title>
                    <mat-card-subtitle>30 días</mat-card-subtitle>
                </mat-card-header>

                <mat-card-content>
                    <div class="price-display">
                        <span class="price-big">S/ 18.00</span>
                        <span class="price-small">/ mes</span>
                    </div>

                    <ul class="benefit-list">
                        <li><mat-icon class="check-icon">check_circle</mat-icon> Obtén un aumento de x1.50 en tus puntos de
                            ecobits</li>
                        <li><mat-icon class="check-icon">check_circle</mat-icon> Podrás disfrutar de tus canjes lo antes posible</li>
                    </ul>
                </mat-card-content>

                <mat-card-actions>
                    <button mat-raised-button (click)="seleccionarPlan('Plan Premium', 2)">
                        Seleccionar Plan
                    </button>
                </mat-card-actions>
            </mat-card>

            <mat-card class="plan-card plan-anual">
                <mat-card-header class="card-header-content">
                    <mat-card-title>Plan Anual</mat-card-title>
                    <mat-card-subtitle>12 meses (Ahorro del 20%)</mat-card-subtitle>
                </mat-card-header>

                <mat-card-content>
                    <div class="price-display">
                        <span class="price-big">S/ 180.00</span>
                        <span class="price-small">/ año</span>
                    </div>

                    <ul class="benefit-list">
                        <li><mat-icon class="check-icon">check_circle</mat-icon> Obtén un aumento de x2 en tus puntos de
                            ecobits</li>
                        <li><mat-icon class="check-icon">check_circle</mat-icon> Podrás disfrutar de tus canjes lo antes posible</li>
                    </ul>
                </mat-card-content>

                <mat-card-actions>
                    <button mat-raised-button (click)="seleccionarPlan('Plan Anual', 3)">
                        Seleccionar Plan
                    </button>
                </mat-card-actions>
            </mat-card>
        </div>

        <!-- FORMULARIO DE METODO DE PAGO -->
        <div *ngIf="mostrarFormulario" class="metodo-container fade-in">

            <h2 class="titulo-form">
                Estás por adquirir: <strong>{{ planSeleccionado }}</strong>
            </h2>

            <div class="form-wrapper">

                <!-- FORM -->
                <div class="form-left">
                    <form [formGroup]="form">

                        <mat-form-field appearance="outline" class="full">
                            <mat-label>Método de Pago</mat-label>
                            <mat-select formControlName="metodo" (selectionChange)="actualizarImagen()">
                                <mat-option value="YAPE-BCP">YAPE BCP</mat-option>
                                <mat-option value="PLIN-INTERBANK">PLIN Interbank</mat-option>
                            </mat-select>
                            <mat-error *ngIf="form.get('metodo')?.invalid">
                                Selecciona un método válido
                            </mat-error>
                        </mat-form-field>

                        <div class="form-buttons">
                            <button mat-raised-button color="primary" (click)="confirmar()">
                                Confirmar Suscripción
                            </button>

                            <button mat-stroked-button color="warn" (click)="cancelar()">
                                Cancelar
                            </button>
                        </div>

                    </form>
                </div>

                <!-- IMAGE -->
                <div class="form-right" *ngIf="imagenMetodo">
                    <img [src]="imagenMetodo" class="imagen-pago" alt="Método de Pago">
                </div>

            </div>
        </div>
    </div>