<div class="form-wrapper">
    <h2>CREAR CUENTA</h2>
    <form [formGroup]="registroForm" (ngSubmit)="onSubmit()">

        <mat-form-field appearance="outline">
            <mat-label>Nombre</mat-label>
            <input matInput formControlName="nombre">
            <mat-error *ngIf="registroForm.get('nombre')?.invalid && registroForm.get('nombre')?.touched">
                El nombre es requerido
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Apellido</mat-label>
            <input matInput formControlName="apellido">
            <mat-error *ngIf="registroForm.get('apellido')?.invalid && registroForm.get('apellido')?.touched">
                El apellido es requerido
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Correo</mat-label>
            <input matInput formControlName="correo" type="email" autocomplete="email">
            <mat-error *ngIf="registroForm.get('correo')?.invalid && registroForm.get('correo')?.touched">
                El correo no es válido
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Contraseña</mat-label>
            <input matInput formControlName="password" type="password" autocomplete="new-password">
            <mat-error *ngIf="registroForm.get('password')?.invalid && registroForm.get('password')?.touched">
                La contraseña debe tener al menos 6 caracteres
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Repetir Contraseña</mat-label>
            <input matInput formControlName="repetirPassword" type="password" autocomplete="new-password">
            <mat-error
                    *ngIf="registroForm.get('repetirPassword')?.invalid && registroForm.get('repetirPassword')?.touched">
                Confirma tu contraseña
            </mat-error>
            <mat-error
                    *ngIf="registroForm.errors?.['mismatch'] && registroForm.get('repetirPassword')?.valid && registroForm.get('repetirPassword')?.touched">
                Las contraseñas no coinciden
            </mat-error>
        </mat-form-field>

    </form>
</div>

<div class="form-footer">
    <button mat-flat-button class="btn-primary" (click)="onSubmit()" [disabled]="registroForm.invalid">
        Crear Cuenta
    </button>
    <button mat-stroked-button class="btn-secondary" [routerLink]="'/auth/login'">
        Log In
    </button>
</div>